@charset "utf-8";
/* CSS Document */
*{
	font-family:"微软雅黑";
}
body{
	margin:0;
}
.hy-header{
	width:100%; min-width:1903px; text-align:center;
}
.hy-header-content{
	width:1140px; margin:0 auto; background-color:#fff; line-height:100px;
}
.hy-header-content ul{
	margin:0; padding:0;
}
.hy-header-content ul li{
	width:160px; line-height:100px; color:#000; list-style:none; float:left;
}
.hy-header-content ul li.hy-header-active,.hy-header-content ul li:hover{
	background-color:#ffab00; color:#fff;
}
.hy-header-right{
	float:right;
}
.hy-header-logo{
	vertical-align:middle; width:105px;
}
.hy-header-content ul li.hy-header-person{
	color:#fa344d;
}
.hy-header-person-icon{
	width:16px; vertical-align:middle; margin:-3px 3px 0;
}